<div class="container">
  <div class="alerts" role="alert">
    @for (alert of alerts; track alert.id) {
      <div [ngClass]="{'alert.position': true}">
        <ngb-alert
          *ngIf="alert && alert.type && alert.msg"
          [type]="alert.type"
          (closed)="alert.close(alerts)">

          <div [innerHTML]="alert.msg"></div>
        </ngb-alert>
      </div>
    }
  </div>
</div>
