<div class="actions">
  <button class="btn btn-primary" (click)="push()">Push floating</button>
  <button class="btn btn-primary" (click)="pop()">Pop floating</button>
</div>

<div class="demo">
  <rs-load-indicator pulseMessage="We are loading now..." iconStyle="cube" [floating]="true"></rs-load-indicator>

  {{tags | json}}
  {{loadIndicatorService.getList() | json}}
</div>

<div class="demo-inline">
  <app-load-indicator-test-inline></app-load-indicator-test-inline>
</div>
