<div class="actions">
  <button class="btn btn-primary" (click)="push()">Push inline</button>
  <button class="btn btn-primary" (click)="pop()">Pop inline</button>
</div>

<rs-load-indicator [floating]="false"></rs-load-indicator>
