<div class="actions">
  <button class="btn btn-primary" (click)="success()">Show success</button>
  <button class="btn btn-primary" (click)="warning()">Show warning</button>
  <button class="btn btn-primary" (click)="error()">Show error</button>
  <button class="btn btn-primary" (click)="forever()">Forever alert</button>
</div>

<div class="demo">
  <rs-alerts></rs-alerts>
</div>
